.servicios,
.servicios * {
  box-sizing: border-box;
}
.servicios {
  background: #ffffff;
  height: 1350px;
  position: relative;
  overflow: hidden;
}
.pie {
  background: #d9d9d9;
  width: 1440px;
  height: 332px;
  position: absolute;
  left: 0px;
  top: 1018px;
}
.x {
  width: 49.18px;
  height: 49.18px;
  position: absolute;
  left: calc(50% - 417.82px);
  top: calc(50% - -24.59px);
  transform-origin: 0 0;
  transform: rotate(-180deg) scale(1, 1);
  object-fit: cover;
  aspect-ratio: 1;
}
.instagram {
  width: 125px;
  height: 70px;
  position: absolute;
  left: calc(50% - 69.82px);
  top: 50%;
  translate: 0 -50%;
  object-fit: cover;
  aspect-ratio: 125/70;
}
.facebook {
  width: 63px;
  height: 63px;
  position: absolute;
  left: calc(50% - -466.17px);
  top: 50%;
  translate: 0 -50%;
  transform-origin: 0 0;
  transform: rotate(1.093deg) scale(-1, 1);
  object-fit: cover;
  aspect-ratio: 1;
}
.hero {
  padding: 61px 158px 61px 158px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 1440px;
  height: 941px;
  position: absolute;
  left: 0px;
  top: 77px;
}
.stext {
  color: #000000;
  text-align: left;
  position: relative;
}
.stext-span {
  color: #000000;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 24px;
  font-weight: 600;
}
.stext-span2 {
  color: #000000;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 48px;
  font-weight: 600;
}
.cabecera {
  width: 1440px;
  height: 77px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.linea {
  margin-top: -1px;
  border-style: solid;
  border-color: #5192c7;
  border-width: 1px 0 0 0;
  width: 100%;
  height: 0%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 3.9%;
  top: 96.1%;
  transform-origin: 0 0;
  transform: rotate(0.04deg) scale(1, 1);
}
.cabecera-layout {
  display: flex;
  flex-direction: row;
  gap: 240px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 4px;
  top: 8px;
}
.image {
  border-style: solid;
  border-color: #3e5bbb;
  border-width: 1px;
  flex-shrink: 0;
  width: 63px;
  height: 60px;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  object-fit: cover;
}
.inicio-button {
  background: #3e5bbb;
  flex-shrink: 0;
  width: 143px;
  height: 55px;
  position: relative;
}
.itext-2 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 16px;
  font-weight: 600;
  position: absolute;
  right: -32.87%;
  left: 35.66%;
  width: 97.2%;
  bottom: 14.55%;
  top: 32.73%;
  height: 52.73%;
}
.info-button {
  background: #3e5bbb;
  flex-shrink: 0;
  width: 155px;
  height: 55px;
  position: relative;
}
.itext {
  color: #fcfcfc;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 16px;
  font-weight: 600;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 32.73%;
  top: 32.73%;
  height: 34.55%;
}
.contact-button {
  background: #3e5bbb;
  flex-shrink: 0;
  width: 152px;
  height: 55px;
  position: relative;
}
.ctext {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 16px;
  font-weight: 600;
  position: absolute;
  right: 26.32%;
  left: 26.32%;
  width: 47.37%;
  bottom: 36.36%;
  top: 29.09%;
  height: 34.55%;
}
